*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
}
.icon img{
  opacity: 0.5;
  height: 40px;
  width: auto;
  float: right;
  bottom: 5px;
}
.bell img{
  opacity: 0.5;
  height: 35px;
  width: auto;
  float: right;
  bottom: 3px;
}
.blocks img{
  opacity: 0.5;
  height: 30px;
  width: auto;
  float: right;
}
.searchbar li img:hover{
  opacity: 1;
}
.searchbar{
  display: block;
  height: 60px;
  background-color: #f0f0f0;
  width: 100%;
}
.menubar{
  display: block;
  height: 60px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
}
.searchbar img{
  margin-top: 20px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.google img{
  margin-left: 20px;
  margin-right: 20px;
  width: 120px;
}
li{
  display: inline;
}
form{
  position: absolute;
  display: inline;
  top: 17px;
}
form input{
    border-style: none;
    box-shadow: 0px 2px 2px #c8c8c8;
    width: 600px;
    padding: 10px;
}
