*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
}
ul{
  list-style-type: none;
}
.profpicture img{
  opacity: 0.5;
  height: 40px;
  width: auto;
  float: right;
  bottom: 5px;
}
.bell img{
  opacity: 0.5;
  height: 25px;
  width: auto;
  float: right;
  top: 3px;
}
.blocks img{
  opacity: 0.5;
  height: 20px;
  width: auto;
  float: right;
  top: 5px;
}
.searchbar li img:hover{
  opacity: 1;
}
.searchbar{
  display: block;
  height: 60px;
  background-color: #f8f8f8;
  width: 100%;
}
.menubar{
  height: 60px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
}
.searchbar img{
  margin-top: 20px;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}
.google img{
  margin-left: 20px;
  margin-right: 20px;
  width: 120px;
}
li{
  display: inline;
}
form{
  position: absolute;
  display: inline;
  top: 17px;
}
form input{
    border-style: none;
    box-shadow: 0px 2px 2px #c8c8c8;
    width: 600px;
    padding: 10px;
}
.menuleft li{
position: relative;
float: left;
margin-left: 15px;
margin-right: 15px;
margin-top: 30px;
}
.menuright li{
position: relative;
float: right;
margin-left: 15px;
margin-right: 15px;
margin-top: 30px;
}
.menubar ul{
  width: 620px;
  margin-left: 150px;
}
.menubar a{
  font-size: small;
  text-decoration: none;
  color: #757575;
}
a:hover{
  text-decoration: underline;
  color: #545454;
}
.numberresults p{
  color: #9f9f9f;
  font-size: small;
  padding-left: 165px;
  padding-top: 20px;
}
.resultsbox a{
  color: #1a0dab;
  font-size: 18px;
  text-decoration: none;
}
.resultsbox a:hover{
  text-decoration: underline;;
}
.resultsbox{
  position: relative;
  width: 600px;
  left: 165px;
  height: 1000px;
  font-size: small;
}
.link p{
  color: green;
}
.leftlinks{
  width: 250px;
  position: relative;
  left: 35px;
}
.rightlinks{
  width: 250px;
  position: relative;
  left: 350px;
  top: 0px;
}
.more {
  width: 600px;
}
.more a{
  font-size: small;
}
.secondarylinks{
  height: 250px;
}
